body{
    font: 20px  Calibri, Cambria;
    margin: auto;
}
.navbar {
    background-color: rgb(255, 239, 231);
}

.nav-link {
    font: #ffffff;
}

.serviços{
    background-color: rgb(250, 196, 152);
    padding-top: 50px;
    padding-bottom: 50px;
    color:black;

}

.quem-somos{
    background-color: rgb(255, 218, 197);
    padding-top: 50px;
    padding-bottom: 50px;
    color:black;
}

.parceiros{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    color:black;
}

.margin{
    padding-top: 25px;
    padding-bottom: 25px;
}

.bg-footer{
    background-color: black;
    color: white;
}

.text{
    text-align: justify;
    
}

.home{
    padding: 30px;
}

.title{
    color: rgb(255, 88, 0);
    font-weight: bolder;

}
